{% load static %}
{% load website_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Radar{% block titulo_extra %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'styles/radar.css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body {% block body_class %}{% endblock %}>
  {% block alerta %}{% endblock %}
  {% block menu_principal %}
  <!-- MENU PRINCIPAL -->
  <nav id="main_navbar" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Abrir/fechar menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'website:principal' %}">
          <img src="{% static 'img/antena-robo.svg' %}" alt="" />
          Radar
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav divider">
          <li class="active"><a href="{% url 'website:principal' %}">Projetos de lei</a></li>
          <li><a href="{% url 'website:agenda' %}">Agenda da semana</a></li>
	  {% comment %}
          <li><a href="{% url 'website:novos_pls' %}">Novos PLs</a></li>
	  {% endcomment %}
          <li><a href="{% url 'website:cenario_legislativo' %}">Cenário legislativo</a></li>
          <li><a href="{% url 'website:sobre' %}">Sobre</a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li role="separator" class="divider"></li>
          <li><a href="{% website_options 'graph_url' %}">Grafo de PLS</a></li>
          <li><a href="{% url 'website:tramitabot' %}">Tramitabot</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- MENU PRINCIPAL -->
  {% endblock %}

  {% block header %}
  <!-- HEADER -->
  <div class="main-page-header container-fluid text-center">
    <h1>Radar legislativo</h1>
    <p>acesso, gênero, liberdade de expressão, privacidade e inovação nos meios digitais</p>
    <img class="robo" src="{% static 'img/cabecalho-robo.jpg' %}" alt="" />
  </div>
  <!-- HEADER -->
  {% endblock %}

  {% block conteudo %}

  {% endblock conteudo %}

  {% block rodape %}
  <!-- RODAPE -->
  <div class="rodape container-fluid">
    <div class="navegacao container">
      <div class="col-sm-4">
        <h6><strong>Radar.</strong> Tudo sobre leis e direitos humanos no meio digital.</h6>
        <ul class="nav">
          <li><a href="{% url 'website:agenda' %}">agenda da semana</a></li>
          <li><a href="{% url 'website:principal' %}">projetos de lei</a></li>
          <li><a href="{% url 'website:novos_pls' %}">novos PLs</a></li>
          <li><a href="{% url 'website:cenario_legislativo' %}">cenário legislativo</a></li>
          <li><a href="{% website_options 'graph_url' %}">grafo de pls</a></li>
          <li><a href="{% url 'website:tramitabot' %}">tramitabot</a></li>
          <li><a href="{% url 'website:sobre' %}">sobre</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6>categorias</h6>
        <ul class="nav">
          <li><a href="{% link_filtro 'genero' %}">gênero</a></li>
          <li><a href="{% link_filtro 'acesso' %}">acesso</a></li>
          <li><a href="{% link_filtro 'inov' %}">inovação</a></li>
          <li><a href="{% link_filtro 'priv' %}">privacidade</a></li>
          <li><a href="{% link_filtro 'libex' %}">liberdade de expressão</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6>Um projeto mantido pela  Coding Rights</h6>
        <p><a href="https://twitter.com/codingrights">@codingrights</a></p>
        <p><a href="https://antivigilancia.org/pt/boletim/">Assine o nosso boletim</a></p>
        <a href="https://www.codingrights.org"><img src="{% static 'img/logoCR.svg' %}" alt="Coding Rights logo" /></a>
      </div>
    </div>

    <div class="licenca row">
      <p>Este projeto está licenciado com uma Licença Creative Commons 4.0 CompartilhaIgual.</p>
      <p>Código aberto disponível no <a href="https://gitlab.com/codingrights"><img class="logo" src="{% static 'img/logo-gitlab.svg' %}" alt="" /> Gitlab</a></p>
    </div>
  </div>
  <!-- RODAPE -->
  {% endblock %}

  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% website_options "tracking_code" %}
  {% block scripts_extra %}
  {% endblock %}
  <!-- SCRIPTS -->
</body>
</html>
