{% load static %}
{% load website_tags %}
{% with id=widget.attrs.id %}
  {% for group, options, index in widget.optgroups %}
    {% if group %}{{ group }}{% endif %}
    {% for option in options %}
      {% with widget=option %}
        <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="btn btn-default{% if widget.attrs.checked %} active{% endif %}" {% if widget.name == "impacto" %}data-toggle="tooltip" title="{% get_title_from_label widget.label %}"{% endif %}>
          {% include "django/forms/widgets/input.html" %}
		
		{% if widget.name == "categoria" %}

			{% if widget.label == 'acesso' %}
			<img src={% static "img/icone-acesso.svg" %} width="25" width="35" alt="ícone de acesso" />
	    {% elif widget.label == 'priv' %}
			<img src={% static "img/icone-priv.svg" %} width="25" width="35" alt="ícone de privacidade" />
	    {% elif widget.label == 'libex' %}
			<img src={% static "img/icone-libex.svg" %} width="25" width="35" alt="ícone de liberdade de expressão" />
			{% elif widget.label == 'genero' %}
			<img src={% static "img/icone-genero.svg" %} width="25" width="35" alt="ícone de questões de gênero" />
			{% elif widget.label == 'inov' %}
				<img src="{% static 'img/icons/inov-icon.svg' %}" />
			{% endif %}

		{% endif %}

	  {% if widget.name == "impacto" %}
	    {% if widget.label == '🙂️' %}
	      <img src="{% static 'img/icons/face-happy-icon.svg' %}" />
	    {% elif widget.label == '😐' %}
	      <img src="{% static 'img/icons/face-medium-icon.svg' %}" />
	    {% elif widget.label == '🙁' %}
	      <img src="{% static 'img/icons/face-unhappy-icon.svg' %}" />
	    {% endif %}
	  {% else %}
	    {{ widget.label }}
	  {% endif %}
	</label>
      {% endwith %}
    {% endfor %}
  {% endfor %}
{% endwith %}
