{% extends "website/base.html" %}
{% load static %}
{% load website_tags %}

{% block extra_title %}| Novos PLs{% endblock %}

{% block body_class %}class="pagina-novos-pls"{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
{% endblock %}

{% block header %}
  <!-- HEADER -->
  <div class="main-page-header container-fluid text-center">
    <h1>Novos PLs</h1>
    <p>Acompanhamento semanal de novos projetos de lei</p>
    <img class="robo" src="{% static 'img/cabecalho-robo.jpg' %}" alt="" />
  </div>
  <!-- HEADER -->
{% endblock %}

{% block conteudo %}
  <div class="filtros-novos-pls container-fluid text-center">
    <form id="filtros" method="get">
      {{ form.origem }}
      {{ form.data }}
    </form>
  </div>

  <div class="datas-novos-pls container-fluid text-center">
    <div class="row table-row-sm item-divider">
    {% for dia in dias_proximos %}
      {% if forloop.first %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' dia|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
        </div>
      {% elif forloop.last %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' dia|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </a>
	</div>
      {% else %}
        <div class="col-sm-2{% if dia == data %} active{% endif %}">
          <a href="{% change_url_parameter request 'data' dia|date:'d/m/Y' %}">
            <p class="novos-pls-data-semana">{{ dia|date:"l" }}</p>
            <p class="novos-pls-data-mes">{{ dia|date:"d/m" }}</p>
            {% if dia == hoje %}
              <p class="novos-pls-data-hoje">hoje</p>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="conteudo-principal">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
	{% for evento in object_list %}
          <h2>{{ evento.comissao }}</h2>

          <p>{{ evento.descricao|safe|markdown_text }}</p>

	  {% if not forloop.last %}
            <div class="divider-horizontal"></div>
	  {% endif %}
	{% empty %}
	  <p>Não existem eventos prioritários agendados para esse dia.</p>
	{% endfor %}
      </div>
    </div>
  </div>

  <div class="divider-horizontal"></div>
{% endblock %}
{% block scripts_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#datepicker").datepicker({
        beforeShowDay: function(date){
          var day = date.getDay();
          return [day >= 1 && day <= 5, ""];
        }
      });
    });
  </script>
{% endblock %}
