{% load static %}
{% load website_tabs %}
<nav id="topNavigation" class="navbar">
	<div class="container">
		<div class="navbar-header navbar-left">
			<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Abrir/fechar navegação</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand pull-left" href="https://codingrights.org/">
				<img src={% static "img/logoCR-topo.svg" %} alt="Coding Rights" />
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapse-1">
			<a class="pull-right" href="https://twitter.com/codingrights">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<ul class="nav navbar-nav">
				<li>
					<a href="{% website_options 'graph_url' %}">Visualizar Grafo de PLs</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 icons">
				<img src={% static "img/olho.svg" %} alt="Ilustração de um olho" />
				<img src={% static "img/megafone.svg" %} alt="Ilustração de megafone" />
				<img src={% static "img/acesso.svg" %} alt="Ilustração de acesso à internet" />
				<img src={% static "img/genero.svg" %} alt="Ilustração de questões de gênero" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Projetos de Lei que são relevantes para a privacidade, liberdade de expressão, acesso e questões de gênero no meio digital</h2>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div>
					<p>Nesta página, listamos os PL's em discussão no
					Congresso que são relevantes para a privacidade, liberdade de expressão, o acesso e questões de gênero no meio digital. A lista está em construção.  Sabe de mais algum? É possível propôr alterações diretas na lista pelo <a href="https://gitlab.com/codingrights/pls/">Gitlab</a>; você também pode nos informar pelo <a href="https://pad.codingrights.org/p/pls">etherpad</a> ou por <a href="mailto:pls@codingrights.org">e-mail</a>, e nós consolidamos as informações aqui.</p>
					<p>Mantido pela <a href="https://codingrights.org">Coding Rights</a>, um <em>think-and-do tank</em> liderado por mulheres e criado para promover os Direitos Humanos através do Código.</p>
				</div>
			</div>
		</div>
	</div>
</header>
