{% extends "website/pagina_estatica.html" %}

{% block titulo_extra %} | Tramitabot {% endblock %}

{% block head_title %}Tramitabot{% endblock %}

{% block texto %}
  <div class="col-md-6 col-md-offset-3">
    <h2 class="section-title">Tramitabot</h2>
    <p>Para quem quer ficar de olho no Congresso, o nosso bot no Telegram informa periodicamente quais foram as últimas movimentações dentre os PLs que mapeamos. Basta, no Telegram, dar um oi pro <a href="https://telegram.me/tramitabot">@TramitaBot</a> e pedir para que ele te cadastre -- ou então só dar uma olhadinha nas últimas tramitações do dia, sem compromisso.</p>
  </div>
{% endblock %}
