.pagina-agenda {
  .filtros-agenda {
    background-color: @agenda-grey;
    padding-top: 24px;
    padding-bottom: 24px;

    .form-control {
      width: auto !important;
      min-width: 150px !important;
      display: inline-block !important;
    }
  }

  .datas-agenda {
    background-color: @agenda-grey;
    border-top: 1px solid @grey-border-agenda;

    a:focus, a:active, a:hover {
      text-decoration: none;
    }

    .row > div {
      padding: 30px 5px;
      .make-right-divider(1px, @grey-border-agenda);

      &:last-child {
        border-right: none;
      }

      &.active {
        background-color: @white;
      }
    }

    .navegacao {
      color: @bright-sky-blue;
      opacity: 0.25;
      font-size: 40px;
      margin-top: 16px;
    }

    .disabled {
      &, p, a, .navegacao {
        color: @disabled-silver;
      }
    }

    .agenda-data-semana {
      color: @powder-blue;
      font-family: Avenir;
      font-weight: 900;
      font-size: 14px;
      margin-bottom: 2px;
    }

    .agenda-data-mes {
      color: @greyish-brown;
      font-family: Avenir;
      font-weight: 300;
      font-size: 30px;
      margin: 0;
    }

    .agenda-data-hoje {
      color: @golden-yellow;
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  .conteudo-principal {
    padding-top: 30px;
    padding-bottom: 60px;

    h2 {
      color: @iris;
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .divider-horizontal {
      width: 90%;
      margin: 30px auto;
    }
  }
}
