{% load static %}
{% load projeto_tags %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/main.css" %}>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={% static "font-awesome/css/font-awesome.min.css" %}>

    <title>Projetos de Lei que são relevantes para a privacidade, liberdade de expressão, acesso e questões de gênero no meio digital | busca</title>

    <style>
      h2 {
        color: 2f2c2c;
        font-weight: bold;
      }

      .form-busca {
        color: 2f2c2c;
      }

    </style>
  </head>
  <body>
    <div id="pageContent" class="container">
      <h2>Busca</h2>
      <div class="form-busca">
	<form method="get" action="." class="form-inline">
	  <div class="form-group">
	    {{ form.q }}
	    <input class="btn" type="submit" value="Buscar">
	  </div>
	</form>
      </div>
      {% if query %}
      <h3>Resultados</h3>

      <div class="projetos-de-lei row">
	{% for result in page.object_list %}
	{% show_projeto result.object %}
	{% empty %}
	<p>No results found.</p>
	{% endfor %}
      </div>

      {% if page.has_previous or page.has_next %}
      <div>
	{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Anterior{% if page.has_previous %}</a>{% endif %}
	|
	{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Seguinte &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
      {% endif %}
      {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
      {% endif %}
    </div>
  </body>
</html>
